html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

* {
    box-sizing: border-box;
}

button{
    padding: 24px 96px;
    font-size: 1em;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #9013FE;
}

h1{
    line-height: 1.25em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
}

#green_header{
    color: #00251A;
}

h3{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    color: #00251A;
}

p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1em;
      line-height: 27px;
      color: #4A4A4A;
}


header {
      width: 100%;
      height: 90vh;
      background: url(PP_assets/Bitmap.png) no-repeat 50% 50%;
      background-size: cover;
}

.header{
    z-index: 0;
    color: white;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-right: -45%;
    transform: translate(-45%, -45%);
    text-align: center;
}

.icon_img{
    width: auto;
    height:100px;
}


.logo {
      padding-top: 10px;
      float: left;
      margin: 16px 24px;
      color: #fff;
}

.logo_full{
    display: block;
}

.logo_mobile{
    display: none;
}

nav {
      width: 100%;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #f8f8f8;
      padding: 0;
      text-align: right;
      margin: 0;
      transition: 1s;
}

nav.black ul {
      background: white;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;
}

nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 16px;
}

.nav_btn{
    background: rgba(0, 0, 0, 0);
    padding: 16px 32px;
    border: 2px solid;
    border-color: white;
    border-radius: 50px;
}

.nav_btn:hover{
    background-color: white;
    color: black;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: white;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: darkgrey;
      display: none;
}


#center{
    text-align: center;
}

/* Create three equal columns that floats next to each other */



.col3 {
    float: left;
    width: 33.3%;
    padding: 24px;
}



.row .col2{
    height: 100%;
}

.row .col3{
    
}

.container{
    width: 100%;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}




.col2 {
    float: right;
    width: 50%;
    overflow: hidden;
    display: table;
    padding: 0px 48px;
}

.col2_right{
    float: right;
}

.col2_left{
    float: left;
}

.col2_center{
    text-align: left;
}




.section_img_full{
    display: block;
    width: 90%;
    height: auto;
}

.section_img_mobile{
    display: none;
}

.section{
    height: 500px;
    overflow: hidden;
    padding: 48px 0px;
}

.section_3{
    height: auto;
    overflow: hidden;
    padding: 48px 0px;
}

.section_video{
    height: 700px;
    overflow: hidden;
    padding: 48px;
}


.bg{
    background-color: #00251A;
}

video{
    width:75%;
    height: auto;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    height: 100%;
}



@media(max-width: 1440px) {
    
    p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.125em;
      line-height: 27px;
      color: #4A4A4A;
}
    
    
    .section_img_full{
    display: block;
    width: 90%;
    height: auto;
}
    
    .section{
    height: 750px;
    overflow: hidden;
    padding: 48px 0px;
}
    
    .section_3{
    height: auto;
    overflow: hidden;
    padding: 48px;
    }
    
    .section_video{
    height: auto;
    overflow: hidden;
    padding: 48px;
}
    
}


@media(max-width: 1024px) {
    
    
    
    .section_img_full{
    display: block;
    width: 95%;
    height: auto;
}
    
    .section{
    height: 100%;
    overflow: hidden;
    padding: 24px 0px;
}
    
    .section_3{
    height: auto;
    overflow: hidden;
    padding: 24px 0px;
    }
    
    .section_video{
    height: auto;
    overflow: hidden;
    padding: 24px;
}
    
}


@media(max-width: 768px) {
    
    .header{
        padding: 0px 16px;
    }
    
    .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
}
    
   .logo_full{
    display: none;
}

.logo_mobile{
    display: block;
}     

nav{
    position: fixed;
    z-index: 1;
}
    
nav ul {
    max-height: 0px;
    background: #000;
}

nav.black ul {
    background: white;
}

.showing {
    max-height: 34em;
}

nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
}

      .menu-icon {
            display: block;
      }

    .col3{
        width: 100%;
        padding: 24px 40px; 
    }

    .col2{
        padding: 8px ;
        float: right;
        width: 100%;
        height: 100%;
    }
    
    .col2_mobile{
        display: block;
    }
    
    .col2_full{
        display: none;
    }
    
    .col2_right{
        float: left;
    }
    
    .row .col2{
    height: 50%;
}
    
    
    .section_img_full{
    width: 75%;
    display: none;
}
    .section_img_mobile{
        display: block;
        width: 100%;
    }
    
 
col2_center{
    text-align: center;
}
    
    
    .section{
    height: auto;
    overflow: hidden;
    padding: 32px;
}
    
    .section_3{
    height: auto;
    overflow: hidden;
    padding: 24px 56px;
    }
    
    .section_video{
    height: auto;
    overflow: hidden;
    padding: 24px 40px;
}
    
    video{
    width:100%;
    height: auto;
}

    
}



@media(max-width: 425px) {
    
    .header{
        padding: 0px 16px;
    }
    
    button{
      padding: 20px 40px;  
    }

.logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
}
    
   .logo_full{
    display: none;
}

.logo_mobile{
    display: block;
}     

nav{
    position: fixed;
    z-index: 1;
}
    
nav ul {
    max-height: 0px;
    background: #000;
}

nav.black ul {
    background: white;
}

.showing {
    max-height: 34em;
}

nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
}

      .menu-icon {
            display: block;
      }

    .col3{
        width: 100%;
        padding: 24px 16px; 
    }

    .col2{
        padding: 16px 0px ;
        float: right;
        width: 100%;
        height: 100%;
    }
    
    .col2_mobile{
        display: block;
    }
    
    .col2_full{
        display: none;
    }
    
    .col2_right{
        float: left;
    }
    
    .row .col2{
    height: 50%;
}
    
    
    .section_img_full{
    width: 75%;
    display: none;
}
    .section_img_mobile{
        display: block;
        width: 100%;
    }
    
 
col2_center{
    text-align: center;
}
    
    
    .section{
    height: auto;
    overflow: hidden;
    padding: 24px 16px;
}
    
    .section_3{
    height: auto;
    overflow: hidden;
    padding: 24px 24px;
    }
    
    .section_video{
    height: auto;
    overflow: hidden;
    padding: 24px 16px;
}
    
    video{
    width:100%;
    height: auto;
}


}


